
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt


*.exe
*.out
*.app
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib


.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln
*.vcxproj
*.filters


.DS_Store
Thumbs.db
